@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
  }
:root {
    --blue01: rgb(73, 16, 188);
    --blue02: rgb(46, 10, 117);
    --gray01: rgb(228, 231, 228);
    --gray02: rgb(251, 249, 249);
}

/* Override default style and set padding and margin to nothing */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  html {
    font-size: 18px;
  }

  body {
    color: black;
    padding-left: 350px;
    height: 30000px;
  }

  /* Make all link text black with no text decoration */
a {
    color: white;
    text-decoration: none;
  }
