.header-container {
    height: 50px;
    background-color: var(--bg-color01);
    color: white;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;

    display: flex;
    align-items: center;
}

.menu-button {
    font-size: 30px;
    cursor: pointer;
    width: 34px;
    height: 38px;
    text-align: center;
    margin-left: 30px;
}

@media (min-width: 1200.1px) {
    .menu-button {
        visibility: hidden;
    }
}

/* Tablet screen */
@media (max-width: 1200px) {
    .header-container {
    }
    
  }
  
  /* Mobile screen */
  @media (max-width: 680px) {
    .header-container {
    }
    
  }