main {
  font-size: 1.05rem;
  margin: 40px auto;
  width: 95%;
  background-color: var(--bg-color04);
}

main li {
  margin-left: 25px;
  margin-bottom: 0.7rem;
}

main p {
  margin-bottom: 3px;
  letter-spacing: 0.6px;
}

main div {
  margin: 10px 0;
}

h1 {
  text-align: center;
  margin: 40px auto;
  color: black;
 }
 
 header {
    font-size: 1.5rem;
    margin-bottom: 40px;
    padding-left: 20px;
    background-color: var(--bg-color01);
    color: white;
  }

  .heading-rule {
    margin-bottom: 20px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
  }
  
  /* for large screen view */
  @media (min-width: 1000.1px) {
    .grid-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 30px;
    }

    section {
      margin-bottom: 40px;
    }
  }
  
  /* Tablet screen */
  @media (max-width: 1000px) {
    .grid-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 20px;
    }

    section {
      margin-bottom: 30px;
    }
  }
  
  /* Mobile screen */
  @media (max-width: 800px) {
    .grid-container {
      display: grid;
      grid-template-columns: 1fr;
      row-gap: 10px;
    }

    section {
      margin-bottom: 15px;
    }
  }
 
  .grid-item1 {
    text-align: left;
    overflow: hidden;
  }

  pre {
    background-color: var(--bg-color03);
    overflow: auto;
  }

  code {
    color: var(--text-color01);
    background-color: var(--bg-color03);
  }

  .text-code {
    color: var(--text-color03);
  }

  .html-attribute {
    color: var(--text-color02);
  }

  .css-selector {
    color: var(--text-color05);
  }
 
  .grid-item2 {
    padding-top: 10px;
    max-height: 700px;
    overflow-y: auto;
  }

  .syntax-remarks {
    margin-top: 50px;
    color: var(--text-color04);
  }

  .css-values-title {
    font-weight: bold;
  }

  .css-value {
    margin-bottom: 2.2rem;
  }