main {
  font-size: 1.05rem;
  margin: 80px auto;
  width: 80%;
  padding: 0 10px;
  letter-spacing: 0.6px;
  background-color: var(--bg-color04);
}

main li {
  margin-left: 25px;
}
 
 header {
    font-size: 1.5rem;
    margin-bottom: 40px;
    padding-left: 20px;
    background-color: var(--bg-color01);
    color: white;
  }

  .heading-rule {
    margin-bottom: 20px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
  }
  
 
  .grid-item1 {
    text-align: left;
    overflow: hidden;
  }

  pre {
    background-color: var(--bg-color03);
    overflow: auto;
    margin-bottom: 10px;
  }

  code {
    color: var(--text-color01);
    background-color: var(--bg-color03);
  }

  .text-code {
    color: var(--text-color03);
  }

  .html-attribute {
    color: var(--text-color02);
  }

  .css-selector {
    color: var(--text-color05);
  }
 
  .grid-item2 {
    padding-top: 10px;
    max-height: 650px;
    overflow-y: auto;
  }

  .syntax-remarks {
    margin-top: 50px;
    color: var(--text-color04);
  }

  .css-values-title {
    font-weight: bold;
  }

  .text-container {
    margin: 30px 0;
  }
  
  .img-chrome-devtools {
    width: 100%;
    max-width: 900px;
  }

  .box-model-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
  }

  .box-grid {
    display: grid;
    grid-template-rows: 30px 1fr;
    row-gap: 20px;
    justify-content: center;
  }

  .box-model-img {
    border: 2px solid black;
    width: 100%;
  }

  
  /* for large screen view */
  @media (min-width: 1000.1px) {
    .grid-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 30px;
    }

    section {
      margin-bottom: 40px;
    }
  }
  
  /* Tablet screen */
  @media (max-width: 1000px) {

    main {
      width: 95%;
    }

    .grid-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 20px;
    }

    section {
      margin-bottom: 30px;
    }
  }
  
  /* Mobile screen */
  @media (max-width: 800px) {

    main {
      width: 98%;
      margin: 100px auto;
    }

    section {
      margin-bottom: 15px;
    }

    .grid-container {
      display: grid;
      grid-template-columns: 1fr;
      row-gap: 10px;
    }

    .box-model-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: 50px;
    }

    .box-grid {
      row-gap: 15px;
      justify-content: left;
    }
  }