.sidenav a:hover {
  background-color: var(--bg-color02);
  color: black;
}

 /* large screen */
 @media (min-width: 1200.1px) {
  .sidenav {
    width: 290px;
    background-color: var(--bg-color01);
    height: 100%;
    overflow-y: auto;
    padding-bottom: 400px;
  
    position: fixed;
    left: 0;
    top: 50px;
    bottom: 0;
    transition: 0.4s;
}

  .sidenav a {
    display: block;
    text-decoration: none;
    border-top: 1px solid white;
    cursor: pointer;
    height: 60px;
    font-size: 1.3rem;
    font-weight: 700;
    padding: 1rem;
    transition: background-color font-size width 0.2s;
}

}

/* Tablet screen */
@media (max-width: 1200px) {
  .sidenav {
    width: 0;
    background-color: var(--bg-color01);
    height: 100%;
    overflow-y: auto;
    padding-bottom: 400px;
  
    position: fixed;
    left: 0;
    top: 50px;
    bottom: 0;
    transition: 0.4s;
}

  .change.sidenav {
    width: 300px;
}

  .sidenav a {
    display: block;
    text-decoration: none;
    border-top: 1px solid white;
    cursor: pointer;
    height: 60px;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 1rem;
    transition: background-color font-size width 0.2s;
}
}

/* Mobile screen */
@media (max-width: 580px)
 {
  .sidenav {
    width: 0;
    background-color: var(--bg-color01);
    height: 100%;
    overflow-y: auto;
    padding-bottom: 400px;
  
    position: fixed;
    left: 0;
    top: 50px;
    bottom: 0;
    transition: 0.4s;
}

  .change.sidenav {
    width: 200px;
}

  .sidenav a {
    display: block;
    text-decoration: none;
    border-top: 1px solid white;
    cursor: pointer;
    height: 60px;
    font-size: 1rem;
    font-weight: 700;
    padding: 1rem;
    transition: background-color font-size width 0.2s;
}
}